rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /todos/{todo} {
      allow read, write, delete;
  }
    match /todo-lists/{todoList} {
      allow read, write, delete;
        match /todos/{todo} {
          allow read, write, delete;
        }
    }
  }
}